
/* body{
font-family:Arial;


} */
h2{
text-align: center;
text-decoration-color: bisque;
}
p{
    font-display:text;
    width:200px;
    margin:20px auto;
    padding:20px;
    
}
body {
margin:0;
padding:0;
background-color: cadetblue;
}
form{
width:200px;
margin:20px auto;
padding:20px;
border-radius:100px;

}
.container {
    width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border: 1px solid #001; 
}
label {
    display:block;
    margin-bottom: 5px;
}
.txt{
    text-align: center;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-style: italic;
}
.emoji {
    font-size: 3em; 
    animation-name: rotate; 
    animation-duration: 2s; 
    animation-iteration-count: infinite; 
}

@keyframes rotate {
    0%   { transform: rotate(0deg); } 
    50%  { transform: rotate(180deg); } 
    100% { transform: rotate(360deg); } 
}

